p {
    counter-increment: count-it;
    font: 1.4em Arial,sans-serif;
    background-color: #e7e2e2;
    padding: 20px 50px 20px 15px;
    position: relative;
    width: fit-content;
    margin: 15px auto;
    border-right: 6px solid orange;;
}

p::before {
    content: counter(count-it);
    background: orange;
    color: white;
    position: absolute;
    text-align: center;
    width: 16.5px;
    padding: 20px;
    margin-top: -20px;
    left: -50px;
}
