* {
    font-family: Arial,sans-serif;
}

.one {
    width: 200px;
    height: 200px;
    position: absolute;
}

.green {
    background-color: #009788;
    z-index: 3;
    left: 18px;
}

.blue {
    background-color: #f44236;
    z-index: 4;
    left: 30px;
    top: 20px;
}

.red {
    background-color: #03a9f5;
    z-index: 2;
    top: -4px;
}

.black {
    background-color: black;
    z-index: 1;
}

hr {
    margin: 20px;
}

.parent {
    background-color: #eee;
    padding: 10px;
    width: 400px;
    line-height: 1.6;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    position: relative;
    text-align: center;
    margin: auto;
}

.top-left {
    width: 30px;
    height: 25px;
    background-color: blue;
    color: white;
    border-right: 2px solid red;
    position: absolute;
    top: -13px;
    left: -17px;
}

span.bottom-left {
    width: 30px;
    height: 25px;
    background-color: blue;
    color: white;
    border-right: 2px solid red;
    position: absolute;
    bottom: -13px;
    left: -17px;
}

span.top-right {
    width: 30px;
    height: 25px;
    background-color: blue;
    color: white;
    border-right: 2px solid red;
    position: absolute;
    top: -13px;
    right: -17px;
}

span.bottom-right {
    width: 30px;
    height: 25px;
    background-color: blue;
    color: white;
    border-right: 2px solid red;
    position: absolute;
    bottom: -13px;
    right: -17px;
}

.pop {
    width: 400px;
    margin: auto;
    list-style: none;
}

.li-1 {
    background-color: #eee;
    margin: 0.3em;
    padding: 0.3em;
}

.li-1 li {
    background-color: white;
    margin: 0.5em;
}

.ul-2 {
    list-style-position: inside;
}

table {
    border-bottom: 2px solid red;
    border-spacing: 0.2em;
}

thead tr td{
    padding: 1.2em;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 5.3em;
}

tbody tr td {
    padding: 0.5em;
    background-color: #eee;
    text-align: center;
    font-size: 1.2em;
}

.view,
.delete {
    display: inline-block;
}

p.view {
    background: #03a9f5;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    width: 3.5em;
}

p.delete {
    background: palevioletred;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    width: 3.5em;
}